.custom-btn {
    outline: none;
    border: none;
    padding-inline: 8px;
    padding-block: 13px;
    /* background: #08182A; */
    background: var(--text-active);
    color: white;
    font-family: shabnam;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
}

.custom-btn-border {
    outline: none;
    border: 1px solid var(--text-active);
    padding-inline: 8px;
    padding-block: 13px;
    background: transparent;
    color: var(--text-theme);
    font-family: shabnam;
    cursor: pointer;
    width: 100%;
    border-radius: 15px;
    transition: 0.6s;
}

.custom-btn-border:hover {
    background: var(--text-active);
    color: #fff;
}