.navigation-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.navigation-container > .navigation-text {
    cursor: pointer;
}

.navigation-container > .navigation-text.navigation-text-noactive {
    color: var(--text-notactive);
}

.navigation-container > .navigation-text.navigation-text-active {
    color: var(--text-active);
    font-weight: 600;
}