.product-box-container {
    width: 100%;
}

.product-box-container > .product-box-top-item-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}

.product-box-container > .product-box-top-item-control > .hr-line {
    width: 75%;
    height: 1px;
    outline: none;
    border: none;
    background: rgb(147, 147, 147);
}

.product-box-container > .product-box-top-item-control > .right-item {
    width: auto;
    display: flex;
    align-items: center;
    gap: 7px;
    cursor: pointer;
}

.product-box-container > .product-box-top-item-control > .left-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.product-box-container > .product-box-card-item-control {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    overflow: hidden;
}